:root {
  --brand: #c2b19c;
}

@font-face {
  font-family: "Futura Light";
  src: url("./assets/futuralight.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Futura Light";
  color: #0b0b0b;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

.app-root {
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}

:focus-visible {
  outline: 3px solid rgba(194, 177, 156, 0.6);
  outline-offset: 2px;
}
